.thc-holidays,
.thc-widget-content table {
	width: 100%;
}

.thc-widget-content table {
	line-height: 2;
	margin-bottom: 10px;
}

.thc-widget-content .thc-highlight {
	font-weight: bold;
	text-decoration: underline;
	cursor: default;
}

.thc-widget-content .thc-today {
	background-color: rgba(255, 255, 255, 0.2);
}

.thc-widget-content tbody td,
.thc-widget-content thead th,
.thc-widget-content caption {
	text-align: center;
}

/* Theme Compatibility */

/* Twenty Fourteen */
@media screen and (min-width: 1080px) {
	.mva7-thc-activetheme-twentyfourteen .mva7-thc-main {
		padding-left: 222px;
	}
}
